<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="display-4">GetClose {{msg}}</h1>
        <h2>Find out what's happening in your area!</h2>

        <!-- Insert Map Here -->
        <div class="container">
          <div id="map"></div>
        </div>
        <br><br>

        <div class="card">
          <div class="card-header">
            {{!-- <h3>What's on your mind?</h3> --}}
            <h6>What's on your mind?</h6>
          </div>
          <div class="card-body">
            {{!-- Insert Form inside card-body --}}
            <!-- Form -->
            <form class="clearfix mb-4" action="POST">
              <!-- name -->
              <div class="form-group">
                <label for="example-text">Name</label>
                <input type="text" id="userName" class="form-control" aria-describedby="example-text" placeholder="Username">
              </div>
              <!-- subject -->
              <div class="form-group">
                <label for="example-text">Subject</label>
                <input type="text" id="subject" class="form-control" aria-describedby="example-text" placeholder="Subject">
              </div>
              <!-- post -->
              <div class="form-group">
                <label for="example-description">Post</label>
                <textarea class="form-control" id="userPost" aria-describedby="example-description" placeholder="What's on your mind?"></textarea>
              </div>
              <button id="submit" class="btn btn-primary float-right">Submit</button>
            </form>
          </div>
        </div>


        <div class="testDiv"></div>


        {{!-- <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul> --}}
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
